/* 전체 레이아웃 설정 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf3ff;
  color: #3c3c3c;
}


/* 내비게이션 바 */
.navbar {
  background-color: #6A1B9A;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight: bold;
}

.navbar nav a.cta {
  background-color: #FF9800;
  padding: 8px 16px;
  border-radius: 16px;
}

.navbar nav a.cta:hover {
  background-color: #E57C00;
}

/* 메인 컨테이너 */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 입력 창 */
.user-input{
  margin-top: 20px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 16px;
  width: 775px;
  border: none;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #6A1B9A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #501874;
}

.result-container {
  margin-top: 20px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 16px;
  text-align: center;
}
